body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
.App {
  display: flex;
  justify-content: center;
}

.card_container {
  width: 90%;

}

.userlogo_contaner {

}
.userlogo_contaner img{
  width: 100%;
}

.info_container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}

.info_container img {
  width: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.card_reaction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_reaction img {
  width: 15px;
  margin-left: 10px;
}

.arrow_back {
  width: 100%;
  display: flex;
  align-items: center;
}

.arrow_back:hover {
  opacity: 0.6;
  cursor: pointer;
}

.arrow_back img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}